.normal {
  background-color: var(--dark-bg-redesigned);
}

.outlined {
  border: 1px solid var(--accent-redesigned);
}

.light {
  background-color: var(--light-bg-redesigned);
}

.max {
  width: 100%;
}

.border-normal {
  border-radius: 5px;
}

.border-round {
  border-radius: 42px;
}

.padding0 {
  padding: 0;
}

.padding8 {
  padding: 8px;
}

.padding16 {
  padding: 16px;
}

.padding24 {
  padding: 24px;
}
