.ArticleViewSelector {
  display: flex;
  gap: 10px;
}

.ArticleViewSelectorRedesigned {
  display: flex;
  gap: 10px;

  .notSelected {
    color: var(--light-bg-redesigned);
    fill: var(--light-bg-redesigned);
  }
}
