.title {
  font: var(--font-l);
}

.text {
  font: var(--font-m);
  color: var(--secondary-color);
}

.primary {
  .title {
    color: var(--primary-color);
  }

  .text {
    color: var(--secondary-color);
  }
}

.error {
  .title {
    color: var(--error-color);
  }

  .text {
    color: var(--error-color-light);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
