.Icon {
  fill: var(--icon-redesigned);
  color: var(--icon-redesigned);
  stroke: var(--icon-redesigned);
}

.icon_wrapper {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.icon_wrapper:hover .Icon {
  fill: var(--accent-redesigned);
  color: var(--accent-redesigned);
  stroke: var(--accent-redesigned);
}
