.ProfileCard {
  padding: 20px;
  border: solid var(--inverted-bg-color);
}

.input {
  margin-top: 10px;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.avatar {
  display: flex;
  justify-content: center;
}

.editing {
  border-color: var(--inverted-primary-color);
}
